/* general style */
.section__title {
  width: 100%;
  margin-top: 3rem;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-decoration: underline;
  font-weight: var(--regular-400);
}

.section__text {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: var(--light-300);
}

.section__text--modifier {
  line-height: 3rem;
}

.section__text--modifier:first-of-type {
  margin-bottom: 1.5rem;
}

/* section containers */
.hero__container {
  display: flex;
  height: 100dvh;
  padding-top: 10rem;
  justify-content: center;
  max-width: var(--content-width);
}

.philosophy__container,
.structures__container,
.unique__container,
.unesco__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: var(--content-width);
}

/* hero section */
.hero__text {
  height: 90%;
  width: 100%;
  display: flex;
  padding: 0 2rem;
  font-size: 2.8rem;
  text-align: center;
  align-items: center;
  font-weight: var(--light-300);
}

.hero__arrow-container {
  bottom: 0;
  width: 10%;
  height: 20%;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--graphite-gray);
  animation: pulse 3s ease-out;
  animation-iteration-count: infinite;
}

.hero__arrow-text {
  font-size: 1.6rem;
  letter-spacing: 0.24rem;
  font-weight: var(--light-300);
}

.hero__arrow-icon {
  height: 2.5rem;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 0.5;
  }
}

/* philosophy section */
.philosophy__link {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--graphite-gray);
  font-weight: var(--semiBold-600);
}

.philosophy__link:hover {
  color: var(--soft-blue);
  text-decoration: underline;
}

.philosophy__link:visited {
  color: var(--soft-blue);
}

.philosophy__cards-container {
  gap: 3rem;
  width: 100%;
  display: grid;
  padding: 0 3rem;
  margin: 1.5rem 0;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.philosophy__card {
  display: flex;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  background-color: var(--cool-gray);
}

.philosophy__card-title {
  width: 80%;
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: var(--medium-500);
}

.philosophy__card-text {
  font-size: 1.6rem;
  text-align: center;
  font-weight: var(--light-300);
}

/* structures section */
.structures__content {
  width: 100%;
}
.structures__title {
  margin: 1.5rem 0;
  font-size: 2.3rem;
  line-height: 2.5rem;
  font-weight: var(--regular-400);
}

.structures__image {
  width: 100%;
  object-fit: cover;
  padding: 2rem 3rem;
}

/* unique section */
.unique__card {
  display: grid;
  align-items: center;
  margin-bottom: 3rem;
  grid-template-columns: 50% 50%;
}

.unique__card-content {
  margin: 0 3rem;
}

.unique__card-title {
  font-size: 2.3rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: var(--medium-500);
}

.unique__card-text {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: var(--light-300);
}

.unique__card-image:first-child {
  width: 100%;
  padding-right: 0rem;
}

.unique__card-image {
  width: 100%;
}

/* unesco section */
.unesco__card {
  display: grid;
  align-items: center;
  margin-bottom: 3rem;
  grid-template-columns: 50% 50%;
}

.unesco__card-content {
  margin: 0 3rem;
}

.unesco__card-text {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: var(--light-300);
}

.unesco__card-image {
  width: 100%;
}
