.footer {
  display: flex;
  height: 15rem;
  padding: 2rem;
  justify-content: center;
  color: var(--cool-gray);
  min-width: var(--content-width);
  background-color: var(--soft-blue);
}

.footer__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text-container {
  color: var(--cool-gray);
}

.footer__title {
  font-size: 3.7rem;
  line-height: 3.2rem;
  font-weight: var(--regular-400);
}

.footer__text {
  font-size: 1rem;
  padding-left: 0.3rem;
  letter-spacing: 0.05rem;
  font-weight: var(--light-300);
}

.footer__newsletter-container {
  width: 30%;
}

.footer__newsletter-label {
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.025rem;
  font-family: var(--open-sans);
  font-weight: var(--light-300);
}

.footer__newsletter-form {
  display: flex;
  align-items: center;
}

.footer__newsletter-input {
  border: none;
  height: 3rem;
  width: 22rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.1rem;
  background-color: var(--cool-gray);
}

.footer__newsletter-input::placeholder {
  color: var(--soft-blue);
  font-family: var(--open-sans);
  font-weight: var(--regular-400);
}

.footer__newsletter-input:focus {
  outline: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.footer__newsletter-button {
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  margin-left: 1rem;
  color: var(--cool-gray);
  font-family: var(--open-sans);
  font-weight: var(--light-300);
  border: 2px solid var(--cool-gray);
  background-color: var(--soft-blue);
}

.footer__newsletter-button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.footer__contact-container {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.footer__contact-link {
  font-size: 1.6rem;
  color: var(--cool-gray);
  font-family: var(--open-sans);
  font-weight: var(--light-300);
}

.footer__contact-link:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
}

.footer__map-container {
  width: 20%;
  height: 100%;
}

.footer__map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__map-container:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
