/* reset default styles for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* base font size to 10px, to facilitate using REM unit */
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* color variables */
  --soft-white: #f9f9f9;
  --cool-gray: #e5e5e5;
  --soft-blue: #617fb2;
  --steel-blue: #4a7c95;
  --graphite-gray: #3a3a3a;

  /* font variables */
  --open-sans: 'Open Sans', sans-serif;

  /* font weights variables */
  --bold-700: 700;
  --medium-500: 500;
  --regular-400: 400;
  --light-300: 300;

  /* other variables */
  --content-width: 1024px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--graphite-gray);
  font-family: var(--open-sans);
  background-color: var(--soft-white);
  /* overflow: hidden; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
