.hero__container {
  display: flex;
  height: 100dvh;
  padding-top: 10rem;
  justify-content: center;
  max-width: var(--content-width);
}

.hero__text {
  height: 90%;
  width: 100%;
  display: flex;
  font-size: 3rem;
  padding: 0 2rem;
  text-align: center;
  align-items: center;
  font-weight: var(--light-300);
}

.hero__arrow-container {
  bottom: 0;
  width: 10%;
  height: 20%;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--graphite-gray);
  animation: pulse 3s ease-out;
  animation-iteration-count: infinite;
}

.hero__arrow-text {
  font-size: 1.6rem;
  letter-spacing: 0.24rem;
}

.hero__arrow-icon {
  height: 2.5rem;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 0.5;
  }
}
