.navbar {
  top: 0;
  width: 100%;
  z-index: 99;
  height: 5rem;
  display: flex;
  position: fixed;
  align-items: center;
  /* justify-content: space-between; */
  background-color: var(--cool-gray);
  padding: 0 2rem;
}

.navbar__menu {
  /* display: flex; */
  flex-direction: column;
  /* background-color: greenyellow; */
}

.navbar__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: green; */
}

.navbar__logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar__logo-icon {
  height: 2.5rem;
  padding-right: 0.5rem;
}

.navbar__logo-text {
  font-size: 2rem;
  color: var(--graphite-gray);
  font-weight: var(--regular-400);
}

.navbar__logo-text:hover {
  transition: color 0.3s;
  color: var(--steel-blue);
}

.navbar__menu-container {
  right: 0;
  top: 100%;
  width: 30%;
  display: none;
  margin-top: -1px;
  position: absolute;
  padding: 0 0 2rem 0;
  background-color: var(--cool-gray);
}

.navbar__menu {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.navbar__menu-item {
  padding-left: 2rem;
  list-style-type: none;
}

.navbar__menu-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--graphite-gray);
  font-weight: var(--light-300);
}

.navbar__menu-link:hover {
  color: var(--steel-blue);
}

/* underline animation */
.navbar__menu-link:after {
  width: 0;
  content: '';
  height: 2px;
  display: block;
  margin-top: 0.5rem;
  transition: width 0.3s;
  background: var(--steel-blue);
}

.navbar__menu-link--active {
  color: var(--steel-blue);
}

.navbar__menu-link--active:after {
  width: 100%;
}

.navbar__menu-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.navbar__toggle-label {
  line-height: 0;
  font-size: 3rem;
  color: var(--graphite-gray);
}

.navbar__toggle-input {
  display: none;
}

.navbar__toggle-input:checked ~ .navbar__menu-container {
  display: block;
}

/* tablet screen size (iPad Mini) */
@media screen and (min-width: 768px) {
  .navbar__logo-icon {
    height: 4rem;
    padding-right: 1rem;
  }

  .navbar__logo-text {
    font-size: 3.2rem;
    color: var(--graphite-gray);
    font-weight: var(--regular-400);
  }
  .navbar__container {
    min-width: var(--content-width);
  }

  /* navbar menu */
  .navbar__menu-container {
    top: unset;
    width: unset;
    margin-top: 0;
    display: block;
    padding: unset;
    position: relative;
    padding-right: 1rem;
  }

  .navbar__menu {
    display: flex;
  }

  .navbar__menu-item {
    margin-top: unset;
    padding-left: 2rem;
  }

  .navbar__toggle-label {
    display: none;
  }
}

/* medium screen size */
@media screen and (min-width: 992px) {
  /* navbar  */
  .navbar {
    height: 70px;
  }

  .navbar__container {
    margin: auto;
    max-width: var(--content-width);
  }

  .navbar__logo {
    font-size: 3.2rem;
  }

  /* navbar menu */
  .navbar__menu-container {
    padding-right: 0;
  }

  .navbar__menu {
    /* display: flex; */
    flex-direction: row;
    /* background-color: greenyellow; */
  }
}
