.navbar {
  top: 0;
  width: 100%;
  z-index: 99;
  height: 10rem;
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: var(--cool-gray);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  min-width: var(--content-width);
}

.navbar__logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar__logo-icon {
  height: 4rem;
  padding-right: 1rem;
}

.navbar__logo-text {
  font-size: 3.2rem;
  color: var(--graphite-gray);
  font-weight: var(--regular-400);
}

.navbar__logo-text:hover {
  transition: color 0.3s;
  color: var(--steel-blue);
}

.navbar__menu-container {
  display: flex;
}

.navbar__menu-container--hidden {
  display: none;
}

.navbar__menu {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.navbar__menu-item {
  padding-left: 2rem;
  list-style-type: none;
}

.navbar__menu-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--graphite-gray);
  font-weight: var(--light-300);
}

.navbar__menu-link:hover {
  color: var(--steel-blue);
}

/* underline animation */
.navbar__menu-link:after {
  width: 0;
  content: '';
  height: 2px;
  display: block;
  margin-top: 0.5rem;
  transition: width 0.3s;
  background: var(--steel-blue);
}

.navbar__menu-link--active {
  color: var(--steel-blue);
}

.navbar__menu-link--active:after {
  width: 100%;
}

.navbar__menu-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
